.leaflet-sidebar {
  position: absolute;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2000; }
  .leaflet-sidebar.left {
    left: -600px;
    transition: left 0.5s, width 0.5s;
    padding-right: 0; }
    .leaflet-sidebar.left.visible {
      left: 0; }
  .leaflet-sidebar.right {
	  top:0px;
    right: -600px;
    transition: right 0.5s, width 0.5s;
    padding-left: 0; }
    .leaflet-sidebar.right.visible {
      right: 0; }
  .leaflet-sidebar > .leaflet-control {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;
    font-size: 0.9em;
    background: #F0F0EE;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    .leaflet-touch .leaflet-sidebar > .leaflet-control {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 0.2);
      background-clip: padding-box; }
  @media (max-width: 767px) {
    .leaflet-sidebar {
      width: 100%;
      padding: 0; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 100%; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 100%; }
      .leaflet-sidebar.left {
        left: -100%; }
        .leaflet-sidebar.left.visible {
          left: 0; }
      .leaflet-sidebar.right {
        right: -100%; }
        .leaflet-sidebar.right.visible {
          right: 0; }
      .leaflet-sidebar > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0; }
        .leaflet-touch .leaflet-sidebar > .leaflet-control {
          border: 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 305px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 305px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
      width: 490px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 490px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 490px; } }
  @media (min-width: 1200px) {
    .leaflet-sidebar {
      width: 560px; }
      .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: 560px; }
      .leaflet-sidebar.right.visible ~ .leaflet-right {
        right: 560px; } }
  .leaflet-sidebar .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25px;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8; }

.leaflet-left {
  transition: left 0.5s; }

.leaflet-right {
  transition: right 0.5s; }
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.form input[type="radio"] {
  display: none;
}
.container label {
  position: relative;
}

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.container span.radio:hover {
  cursor: pointer;


}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}	