.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
#d3-map-info-container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	opacity: 0;
}

#d3-map-info-container.hide  {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2000;
	background-color :rgba(23,78, 105,0.4);
	opacity: 1;
}


.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	background-color: white !important;
	border: 3px solid grey;
	border-radius: 2px;
	width:80%
}
s